In [2]:
import numpy as np
from pandas_datareader import data as wb 
import matplotlib.pyplot as plt
import pandas as pd

In [7]:
tickers = ['PG', 'BEI.DE']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source = 'yahoo', start = '2007-1-1')['Adj Close']
    
sec_data.head()

                   PG     BEI.DE
Date
2007-01-03  43.435280  39.869827
2007-01-04  43.105507  40.131615
2007-01-05  42.735352  39.306618
2007-01-08  42.829563  39.314541
2007-01-09  42.721889  38.426079

In [8]:
sec_return = np.log(sec_data / sec_data.shift(1))
sec_return

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006545
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858
...              ...       ...
2020-03-23 -0.047278 -0.017548
2020-03-24  0.055445  0.072859
2020-03-25 -0.023019  0.009242
2020-03-26  0.062046 -0.001255
2020-03-27  0.025651 -0.042551

[3332 rows x 2 columns]

In [9]:
mean_return = sec_return.mean()
mean_return

PG        0.000279
BEI.DE    0.000235
dtype: float64

In [10]:
annual_return = mean_return * 250
annual_return

PG        0.069855
BEI.DE    0.058650
dtype: float64

In [11]:
annual_return['PG']

0.0698553437531907

## Calculating Risk

In [15]:
sec_return['PG'].std()

0.011824969864073874

In [16]:
sec_return['PG'].std() * 250 ** 0.5

0.18696919016662564

In [17]:
sec_return['BEI.DE'].std()

0.013764203225946733

In [18]:
sec_return['BEI.DE'].std() * 250 ** 0.5

0.21763116185714446

In [20]:
# to print

In [19]:
print (sec_return['PG'].std() * 250 ** 0.5)
print (sec_return['BEI.DE'].std() * 250 ** 0.5)

0.18696919016662564
0.21763116185714446

In [21]:
sec_return[['PG', 'BEI.DE']].std() * 250 ** 0.5

PG        0.186969
BEI.DE    0.217631
dtype: float64

## Calculating Covariance and Correlation

In [23]:
PG_var = sec_return['PG'].var()
PG_var

0.0001398299122862553

In [25]:
BEI_var = sec_return['BEI.DE'].var()
BEI_var

0.00018945329044516246

In [29]:
PG_var_a = sec_return['PG'].var() * 250
PG_var_a

0.034957478071563824

In [28]:
BEI_var_a = sec_return['BEI.DE'].var() * 250
BEI_var_a

0.047363322611290615

In [32]:
cov_matrix = sec_return.cov() 
sec_matrix

              PG    BEI.DE
PG      0.000140  0.000045
BEI.DE  0.000045  0.000189

In [35]:
cov_matrix_a = cov_matrix * 250
cov_matrix_a

              PG    BEI.DE
PG      0.034957  0.011201
BEI.DE  0.011201  0.047363

In [33]:
corr_matrix = sec_return.corr()
corr_matrix

              PG    BEI.DE
PG      1.000000  0.274538
BEI.DE  0.274538  1.000000

## Calculating Portfolio Risk

Equal weighting scheme:

In [36]:
weights = np.array([0.5, 0.5])
weights

array([0.5, 0.5])

Portfolio Variance

In [46]:
por_var = np.dot(weights.T, np.dot(cov_matrix_a, weights))
por_var

0.026180618160781245

Portfolio Volatility

In [52]:
por_vol = por_var ** 0.5
por_vol

0.16180425878443758

In [61]:
print (str(round(por_vol, 5) * 100) + ' %')

16.18 %

### Diversifiable risk:

In [67]:
weights = np.array([0.5,0.5])

In [63]:
PG_var_a = sec_return['PG'].var()*250
PG_var_a

0.034957478071563824

In [65]:
BEI_var_a = sec_return['BEI.DE'].var() * 250
BEI_var_a

0.047363322611290615

In [68]:
dr = por_var - (weights[0]**2 * PG_var_a) - (weights[1]**2 * BEI_var_a)
dr

0.005600417990067635

In [70]:
print (str(round(dr*100,3)) + ' %')

0.56 %

### Non-Diversifiable Risk

In [72]:
n_dr_1 = por_var - dr
n_dr

0.02058020017071361

In [76]:
n_dr_2 = (weights[0]**2 * PG_var_a) + (weights[1]**2 * BEI_var_a)
n_dr_2

0.02058020017071361

In [77]:
n_dr_1 == n_dr_2

True