In [14]:
import numpy as np
import pandas as pd 
from pandas_datareader import data as wb

tickers = ['PG', '^GSPC']
capm_data = pd.DataFrame()

for i in tickers:
    capm_data[i] = wb.DataReader(i, data_source = 'yahoo', start = '2012-1-1', end = '2016-12-31')['Adj Close']

In [15]:
capm_data.head()

                   PG        ^GSPC
Date
2012-01-03  51.607742  1277.060059
2012-01-04  51.584591  1277.300049
2012-01-05  51.368366  1281.060059
2012-01-06  51.244812  1277.810059
2012-01-09  51.461037  1280.699951

In [18]:
returns = capm_data.pct_change()
returns

                  PG     ^GSPC
Date
2012-01-03       NaN       NaN
2012-01-04 -0.000449  0.000188
2012-01-05 -0.004192  0.002944
2012-01-06 -0.002405 -0.002537
2012-01-09  0.004219  0.002262
...              ...       ...
2016-12-23  0.005801  0.001252
2016-12-27 -0.004237  0.002248
2016-12-28 -0.006265 -0.008357
2016-12-29  0.003331 -0.000293
2016-12-30 -0.003201 -0.004637

[1258 rows x 2 columns]

In [25]:
cov_matrix = returns.cov() * 250
cov_matrix

             PG     ^GSPC
PG     0.020391  0.010072
^GSPC  0.010072  0.016340

In [27]:
cov_with_market = cov_matrix.iloc[0,1]

In [33]:
market_var = returns['^GSPC'].var() * 250 
market_var

0.016339900880162326

### Beta

In [34]:
beta = cov_with_market / market_var
beta

0.616405494709739

### CAPM

In [35]:
rf = 0.007
rm = 0.055

In [36]:
capm = rf + beta * (rm - rf)
capm

0.03658746374606747

### Sharpe ratio

In [42]:
sharpe = (rm - rf) / (market_var ** 0.5)
sharpe

0.3755056954510118