In [3]:
"Nijat"

'Nijat'

In [4]:
print('nijat')

nijat

In [5]:
x = 5 
name = "Nijat"

In [6]:
print("you had to get {} dollar from {}".format(x,name))

you had to get 5 dollar from Nijat

In [7]:
print ('holidays[6]')

holidays[6]

In [8]:
def name():
    print('nijat')

In [9]:
f1 = name()

nijat

In [10]:
num = [1,3,5]

In [11]:
def add(a):
    result = a + 10
    return result

In [12]:
add(2)

12

In [13]:
def add_10(m):
    if m>=100:
        m = m+10
    else:
        return "Save More"
    return m

In [14]:
add_10(5)

'Save More'

In [15]:
"ni" + "jat"

'nijat'

In [16]:
list1 = ['nijat', 'nihat', 'ali', 'ramila']

In [17]:
list1.pop()

'ramila'

In [18]:
list1

['nijat', 'nihat', 'ali']

In [19]:
del list1[0]

In [20]:
list1

['nihat', 'ali']

In [21]:
list1.append('nijat')
list1()

TypeError: 'list' object is not callable

In [ ]:
list1.extend(['ramila', ' ajdar'])

In [ ]:
list1

In [ ]:
(age, years_of_school) = "17,10"
print(age, years_of_school)

In [ ]:
print("nijat","nihat")

In [ ]:
dict = {'k1': ['barcelona', 'RM'], "k2": "liverpool"}

In [ ]:
dict

In [ ]:
dict["k1"].append("Manu")
dict

In [ ]:
dict

In [ ]:
del dict["k1"][3]

In [ ]:
dict

In [ ]:
x = [0,1,2]

In [ ]:
for item in range((len(x))):
    print(x[item])

In [ ]:
prices = {"apple": 5,  
         "pear":3
        }

quantity = {"apple": 10,
            "pear": 6
           }

In [ ]:
money_spent = 0

for i in prices:
    money_spent = money_spent + (prices[i]*quantity[i])
print(money_spent)

In [22]:
9**0.5

3.0

## Different ways of importing modules

In [25]:
import math

In [26]:
math.sqrt(25)

5.0

In [27]:
from math import sqrt

In [28]:
sqrt(25)

5.0

In [29]:
from math import sqrt as d

In [31]:
d(25)

5.0

In [32]:
import math as m

In [33]:
m.sqrt(25)

5.0

In [35]:
# in order to import all the features of MATH module (not preferred)
from math import *

In [6]:
list1 = [1,3,5, 6,8]

In [10]:
list1[:]

[1, 3, 5, 6, 8]